<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<!-- ko if: isDisplayed() -->
<div class="summary__field">
    <div class="summary__cell">
        <p class="text text--variation-strong text--variation-distant" data-bind="text: getCardsCode()"></p>
        <p class="text text--variation-subdued" data-bind="text: getCardsLabel()"></p>
    </div>
    <div class="summary__cell summary__cell--content-right">
        <p class="text text--variation-strong" data-bind="text: getValue()" style="color:red;"></p>
    </div>
</div>
<!-- /ko -->
